@use "./../palette";
@use "./../animation";

.loading_view { // 読み込み中の表示コンポーネント
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-left: 2.2rem;
  }
}

.fadeout {
  @include animation.fadeout();
}

.loader { // ローディングアニメーション（色は下ので指定）
  @include animation.eight();
}

