@use "./../palette";
@use "./../animation";
@use "~garakuta/lib/animations";

.loading_view { // 読み込み中の表示コンポーネント
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-left: 2.2rem;
  }
}

.fadeout {
  @include animation.fadeout();
  // @include icons.fadeout();
}

.loader {
  @include animations.loader-circles();
}

