@use "./../palette" as pl;
@use "./../animation";

.container {
  position: relative;
  background: red;

  & > img {
    width: 100%;
    height: 100%;
  }
  
  & > section { // 情報表示欄
    position: absolute;
    bottom: 0;
    padding: 2rem;
    background: pl.$header_bg;
  }
}

