@use "_palette";

$breakpoint: 480px; // スマホ用にする幅のブレイクポイント

.app { // 画面全体
  display: grid;
  height: 100vh; // 画面全体を使う（高さ）
  box-sizing: border-box; // 相対計算をまともにする
  grid-template-columns: 1fr; // 横 1fr は残り
  grid-template-rows: 4.5rem 1fr; // 縦
  grid-template-areas:
    "header"
    "wrapper";
  @media screen and (max-width: #{$breakpoint}) {
    grid-template-rows: 7.0rem 1fr; // 縦（スマホ時ヘッダー高さ調整）
  }
}

header { // ヘッダー
  grid-area: header;
  background: palette.$header_bg;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  & > a { // リンク付きのタイトル（Link タグ部分）
    text-decoration: none;
    height: inherit;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
    h1 {
      color: palette.$title_fg;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
  }

  nav { // ナビゲーション
    display: flex;
    height: inherit;
    a { // 各項目
      color: palette.$header_fg;
      list-style: none;
      height: inherit;
      margin-left: 1rem;
      padding: 2rem 1rem 0 1rem;
      text-decoration: none;
    }
    .on { // 現在表示中
      border-bottom: ridge palette.$header_ac 5px;
    }
  }

  @media screen and (max-width: #{$breakpoint}) {
    flex-direction: column;
    padding: 0;
    & > a {
      height: 3.5rem;
      padding-top: 1.4rem;
      padding-left: 0;
      text-align: center;
      background: black;
      h1 {
        font-size: 1.4rem;
      }
    }
    nav {
      height: 3.0rem;
      justify-content: center;
      a {
        box-sizing: border-box;
        height: inherit;
        padding-top: 0.8rem;
      }
    }
  }
}

.wrapper {
  grid-area: wrapper;
  overflow-y: auto; // 高さ足りないときはこの中でスクロール

  &::-webkit-scrollbar { // スクロールバー設定
    background: palette.$scbar_bg;
  }
  &::-webkit-scrollbar-thumb { // スクローラー
    background: palette.$scbar_fg;
  }
  &::-webkit-scrollbar-button { // バー上下のボタン
    display: none;
  }

  // グリッド入れ子
  display: grid;
  height: 100%; // 画面全体を使う（高さ）
  box-sizing: border-box; // 相対計算をまともにする
  grid-template-columns: 1fr; // 横 1fr は残り
  grid-template-rows: 1fr 4rem; // 縦
  grid-template-areas:
    "main"
    "footer";
}

main { // コンテンツ
  grid-area: main;
  background: palette.$main_bg;
  color: palette.$main_fg;
}

footer {
  grid-area: footer;
  background: palette.$footer_bg;
  color: palette.$footer_fg;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

