@use "./../palette";
@use "./../animation";

// 変数
$breakpoint: 480px; // スマホ用にする幅のブレイクポイント
$entry_width: 230px; // 各アイテムの幅
$entry_width_sm: calc(100vw / 2 - 20px); // 各アイテムの幅（スマホ用）

article {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.entry { // 各アイテム
  page-break-inside: avoid; // アイテム内改行防止
  break-inside: avoid;      // これも
  width: $entry_width;
  padding: 10px;
  box-sizing: border-box;
  @media screen and (max-width: #{$breakpoint}) {
    width: $entry_width_sm;
  }
  @include animation.fadein();

  img {
    width: 100%;
  }
}
