@use "./../palette";

// 変数
$entry_width: 250px; // 各アイテムの幅

article {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.entry {
  page-break-inside: avoid; // アイテム内改行防止
  break-inside: avoid;      // これも
  width: $entry_width;
  padding: 10px;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}
